<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Webhook UI</title>
</head>
<body>
    <div class="container">
        <h1>your github webhook</h1>
        <div id="content" class="flexbox"></div>
    </div>

    <script>
        function getwebhookupdates() {
            var contentblock = document.getElementById('content')
            fetch('http://127.0.0.1:5000/webhook_list')
            .then(response => response.json())
            .then(datas => {
                var contentblock = document.getElementById('content');
                contentblock.innerHTML = '';
                console.log(datas)
                datas.data.map((data) => {
                    newnode = document.createElement('div')
                    newnode.classList.add('flex-item');
                    if (data.action === 'PUSH'){
                        newnode.innerHTML = "'" + data.author + "' pushed to " + '"' + data.to_branch + '"' + " on " + data.timestamp;
                    }else if (data.action === 'PULL_REQUEST'){
                        newnode.innerHTML =  "'" + data.author + "' submitted a pull request from \"" + data.from_branch + "\" to \"" + data.to_branch + "\" on " + data.timestamp.toUTCString()  ;
                    }
                    contentblock.append(newnode);
                })
            })
        }
        getwebhookupdates();
        setInterval(getwebhookupdates, 1000);

    </script>
</body>
</html>